<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
<nav th:replace="fragments/nav" />
<main class="container" style="text-align: center">
<h2 th:text="#{sales.list.complete.title}">Listado de ofertas completo</h2>
    <section sec:authorize="hasRole('ROLE_STAND')">
        <section style="margin-bottom: 20px">
            <form class="navbar-form" action="/sales/search">
                <div class="form-group">
                    <input name="searchText" type="text" class="form-control" size="50"
                           th:attr="placeholder=#{list.search}"/>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{list.search.button}">Buscar</button>
            </form>
        </section>
        <section>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col" th:text="#{sales.add.title}">Column heading</th>
                    <th scope="col" th:text="#{sales.add.details}">Column heading</th>
                    <th scope="col" th:text="#{sales.add.price}">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light" th:each="sale:${sales}">
                    <td th:text="${sale.title}">Column content</td>
                    <td th:text="${sale.details}">Column content</td>
                    <td th:text="${sale.price}">Column content</td>
                    <td><a th:href="${'/sales/message/' + sale.id}" th:text="#{sales.message}">enviar mensaje</a></td>
                    <td>
                        <form method="get" th:attr="action=${'/sales/buy/' + sale.id}">
                            <input type="submit" class="btn btn-success" th:attr="value=#{sales.buy}"/>
                            <div id="buyError" th:if="${param.error}" th:text=#{sale.buy.error}
								class="alert alert-danger" role="alert">Buy error</div>
							<div id="buySuccess" th:if="${success}!=null" th:text=#{sale.buy.success}
								class="alert alert-success" role="alert">Buy error</div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>
    <div th:replace="fragments/pagination"></div>
</main>
<footer th:replace="fragments/footer" />
</body>
</html> 