<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/messages.css" />
<script src="/script/languages.js"></script>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="bodyWrapper">
		<div class="recentChatsWrapper">
			<h3 th:text="#{messages.recents}">Recent Chats</h3>
			<div class="recentChats">
				<form action="/messages/delete" method="post">

					<div class="chatCard" th:each="conversation : ${conversations}">
						<a th:href="${'/messages/' + conversation.id}">
							<div class="chatImage">
								<img src="/img/chat.svg" alt="">
							</div>
						</a> <a class="chatLink" th:href="${'/messages/' + conversation.id}">
							<div class="chatInfo">
								<div class="chatName"
									th:text="${'RE: ' + conversation.sale.title}">Emilio
									Cortina</div>
								<div class="chatPreview" th:if="${conversation.sale!=null}"
									th:text="#{messages.seller} +': '+ ${conversation.sale.owner.email}"></div>
							</div>
						</a>
						<button class="deleteConversation" type="submit"
							th:text=#{delete.button} th:value="${conversation.id}" name="id"></button>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>

</html>