<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/messages.css" />
<script src="/script/languages.js"></script>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="bodyWrapper">
		<div class="recentChatsWrapper">
			<h3>Recent Chats</h3>
			<div class="recentChats">

				<a th:each="conversation : ${conversations}" th:href="${'/messages/' + conversation.id}">
					<div class="chatCard" >
						<div class="chatImage">
							<img src="/img/messages.svg" alt="">
						</div>
						<div class="chatInfo">
							<div class="chatName" th:text="${conversation.sale.title}">Emilio
								Cortina</div>
							<div class="chatPreview"></div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>

</html>