<div class="table-responsive">
	<table class="table table-hover" th:fragment="tableSales"
		id="tableSales">
		<thead>
			<tr>
				<th class="col-md-2" th:text="#{sales.title}">Titulo</th>
				<th th:text="#{sales.details}">Detalles</th>
				<th class="col-md-2" th:text="#{sales.price}">Precio</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sale : ${salesList}">
				<td th:text="${sale.title}">1</td>
				<td th:text="${sale.details}">Ejercicio 1</td>
				<td th:text="${sale.price} + '€'">10</td>
				<td><a class="deleteSale" th:href="${'/sales/delete/' + sale.id}" th:text="#{sale.list.delete}">eliminar</a></td>
			</tr>
		</tbody>
	</table>
</div>