<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div id="users" class="container" style="text-align: center">

		<h2 th:text="#{welcome.message}"></h2>
		<p th:text="#{home.authenticated}">Usuario Autenticado como:</p>
		<span sec:authentication="principal.username" th:inline="text"></span>
		<p id="balance" th:text="#{home.money} + ' ' + ${money} +'€'">Dinero actual:</p>
		<h4 th:text="#{home.sales}">Ofertas del usuario</h4>

		<div th:replace="fragments/salesTable"></div>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
