<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head_bs4" />

<body>
	<nav th:replace="fragments/nav_bs4" />

	<div class="wrapper">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div>
				<img src="/img/myWallapop.svg" id="icon" alt="User Icon" />
			</div>

			<!-- Login Form -->
			<form method="post" action="/login">
				<input type="text" id="login"  name="username" th:placeholder="#{login.email}" required="true"> 
				
				<input type="password" id="password" name="password" th:placeholder="#{login.password}" required="true"> 
				
				<div id="loginError" th:if="${error}!=null" th:text=#{login.error}
					class="alert alert-danger" role="alert">Login error</div>
					
				<input id="enviar" type="submit"  th:value="#{login.submit}">
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="/signup" th:text="#{signup.message}">Register</a>
			</div>

		</div>
		<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
	</div>

	<footer th:replace="fragments/footer" />
</body>

</html>