<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head_bs4" />
<body>
	<nav th:replace="fragments/nav_bs4"/>
	<div class="wrapper fadeInDown">
		<div id="formContent">
		
			<!-- Tabs Titles -->
			<h2>Registrate como usuario</h2>

			<!-- Login Form -->
			<form method="post" action="/signup" th:object="${user}">
				
				<input type="text" class="fadeIn second" name="email"
						placeholder="usuario@gmail.com" required="true" /> 
				<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
				
				<label class="control-label col-sm-2" for="name">Nombre:</label>
				<input type="text" class="fadeIn second" name="name"
						placeholder="Ejemplo: Juan" required="true" /> 
				<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
				
				<input type="text" class="fadeIn second" name="surname"
						placeholder="Ejemplo: Peréz Almonte" required="true" />
				<span class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" />
				
				<input type="password" class="fadeIn third" name="password"
						placeholder="Entre el Password" /> <span class="text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
				
				<input type="password" class="fadeIn third" name="repassword"
						placeholder="Repita el Password" /> <span class="text-danger"
						th:if="${#fields.hasErrors('repassword')}"
						th:errors="*{repassword}" />
						
				<input type="submit" class="fadeIn fourth" th:value="#{signup.message}">
			
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="/login">Registrado? Entra</a>
			</div>

		</div>
	</div>
</body>
</html>