<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head_bs4" />
<body>
	<nav th:replace="fragments/nav_bs4"/>
	<div class="wrapper">
		<div id="formContent">
		
			<!-- Tabs Titles -->
			<h2 th:text="#{signup.message}">Registrate como usuario</h2>

			<!-- Login Form -->
			<form method="post" action="/signup" th:object="${user}">
				
				<label class="control-label" for="email" th:text="#{signup.email}">Email:</label>
				<input type="text" name="email"
						placeholder="user@email.com" required="true" /> 
				<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
				
				<label class="control-label" for="name" th:text="#{signup.name}">Nombre:</label>
				<input type="text" name="name"
						placeholder="Ejemplo: Juan" required="true" /> 
				<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
				
				<label class="control-label" for="surname" th:text="#{signup.surname}">Apellidos:</label>
				<input type="text" name="surname"
						placeholder="Ejemplo: Peréz Almonte" required="true" />
				<span class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" />
				
				<label class="control-label" for="password" th:text="#{signup.password}">Password:</label>
				<input type="password" name="password"
						placeholder="Entre el Password" /> <span class="text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
				
				<label class="control-label" for="repassword" th:text="#{signup.repassword}">Repite el password:</label>
				<input type="password" name="repassword"
						placeholder="Repita el Password" /> <span class="text-danger"
						th:if="${#fields.hasErrors('repassword')}"
						th:errors="*{repassword}" />
						
				<input id="enviar" type="submit" th:value="#{signup.message}">
			
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="/login" th:text="#{signup.login}">Registrado? Entra</a>
			</div>

		</div>
	</div>
</body>
</html>